{% extends "base.html" %}
{% block content %}
  <header>
    <h1>{{ project.name }}</h1>
  </header>

  <br>

  <ul class="wiz-navbar">
    <li><a href="{{ url_for('project_wiz_1', project_id=project.id) }}"><button class="wiz-navtab">Details</button></a></li>
    <li><a href="{{ url_for('project_wiz_2A', project_id=project.id, element_type=1) }}"><button class="wiz-navtab">Elements</button></a></li>
    <li><a href="{{ url_for('project_wiz_3A', project_id=project.id, current_index=0) }}"><button class="wiz-navtab">Connections</button></a></li>
    <li><a href="{{ url_for('project_wiz_4', project_id=project.id) }}"><button class="wiz-navtab">Overview</button></a></li>
  </ul>

  

  {% block wizard %}{% endblock %}

  
{% endblock content %}