{% extends "base.html" %}
{% block content %}

  <!-- <div class="wizard-navbar">
    <a href="{{ url_for('project_wiz_1', project_id=project.id) }}"><button class="tab wizard-navtab">Details</button></a>
    <a href="{{ url_for('project_wiz_2A', project_id=project.id, element_type=1) }}"><button class="tab wizard-navtab">Elements</button></a>
    <a href="{{ url_for('project_wiz_3A', project_id=project.id, current_index=0) }}"><button class="tab wizard-navtab">Connections</button></a>
    <a href="{{ url_for('project_wiz_4', project_id=project.id) }}"><button class="tab wizard-navtab">Overview</button></a>
  </div> -->
  <!-- <nav class="wizard-navbar">
      <ul class="wizard-navtabs">
          <li class="tab wizard-navtab" class="tab wizard-navtab"><a href="{{ url_for('project_wiz_1', project_id=project.id) }}">Details</a></li>
          <li class="tab wizard-navtab"><a href="{{ url_for('project_wiz_2A', project_id=project.id, element_type=1) }}">Elements</a></li>
          <li class="tab wizard-navtab"><a href="{{ url_for('project_wiz_3A', project_id=project.id, current_index=0) }}">Connections</a></li>
          <li class="tab wizard-navtab"><a href="{{ url_for('project_wiz_4', project_id=project.id) }}">Overview</a></li>
      </ul>
  </nav> -->
  <header>
    <h1>{{ project.name }}</h1>
  </header>

  <br>

  <ul class="wiz-navbar">
    <li><a href="{{ url_for('project_wiz_1', project_id=project.id) }}"><button class="wiz-navtab">Details</button></a></li>
    <li><a href="{{ url_for('project_wiz_2A', project_id=project.id, element_type=1) }}"><button class="wiz-navtab">Elements</button></a></li>
    <li><a href="{{ url_for('project_wiz_3A', project_id=project.id, current_index=0) }}"><button class="wiz-navtab">Connections</button></a></li>
    <li><a href="{{ url_for('project_wiz_4', project_id=project.id) }}"><button class="wiz-navtab">Overview</button></a></li>
  </ul>

  

  {% block wizard %}{% endblock %}

  
{% endblock content %}