{% extends "wizard/project_wizard.html" %}
{% block wizard %}
<header>
  <h1>New Project</h1>
</header>

  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div id="details-div" class="form-div" style="display: block;">
      <div style="margin: 5%;" class="form-group">
        Project {{ form.name.label(class="form-control-label") }}
        {% if form.name.errors %}
          {{ form.name(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.name.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.name(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div style="margin: 5%;" class="form-group">
        Project {{ form.desc.label(class="form-control-label") }}
        {% if form.desc.errors %}
          {{ form.desc(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.desc.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.desc(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    </div>
    
    <input class="btn" type="submit" value="Submit" style="float: right;">

  </form>
{% endblock wizard %}