<!-- <br> -->
<!-- <h1>{{ project.name }}</h1> -->

{% extends "wizard/project_wizard.html" %}
{% block wizard %}
  <nav>
    <ul style="justify-content: center;">
      <li>
        {% set index = element_type-1 %}
        {% if index == 0 %}
          {% set index = 4 %}
        {% endif %}
        <a href="{{ url_for('project_wiz_2A', project_id=project.id, element_type=index) }}" style="float: right;">
          <button type="button" class="btn">Previous</button>
        </a>
      </li>
      <li>
        <a href="{{ url_for('project_wiz_2A', project_id=project.id, element_type=1) }}">
          {% if element_type == 1 %}
            <img src="/static/elements_icon_1.png" style="opacity: 1;" alt="Link to elements (1/4)">
          {% else %}
            <img src="/static/elements_icon_1.png" style="opacity: 0.3;" alt="Link to elements (1/4)">
          {% endif %}
        </a>
      </li>
      __
      <li>
        <a href="{{ url_for('project_wiz_2A', project_id=project.id, element_type=2) }}">
          {% if element_type == 2 %}
            <img src="/static/elements_icon_2.png" style="opacity: 1;" alt="Link to elements (2/4)">
          {% else %}
            <img src="/static/elements_icon_2.png" style="opacity: 0.3;" alt="Link to elements (2/4)">
          {% endif %}
        </a>
      </li>
      __
      <li>
        <a href="{{ url_for('project_wiz_2A', project_id=project.id, element_type=3) }}">
          {% if element_type == 3 %}
            <img src="/static/elements_icon_3.png" style="opacity: 1;" alt="Link to elements (3/4)">
          {% else %}
            <img src="/static/elements_icon_3.png" style="opacity: 0.3;" alt="Link to elements (4/4)">
          {% endif %}
        </a>
      </li>
      __
      <li>
        <a href="{{ url_for('project_wiz_2A', project_id=project.id, element_type=4) }}">
          {% if element_type == 4 %}
            <img src="/static/elements_icon_4.png" style="opacity: 1;" alt="Link to elements (4/4)">
          {% else %}
            <img src="/static/elements_icon_4.png" style="opacity: 0.3;" alt="Link to elements (4/4)">
          {% endif %}
        </a>
      </li>
      <li>
        {% set index = element_type+1 %}
        {% if index == 5 %}
          {% set index = 1 %}
        {% endif %}
        <a href="{{ url_for('project_wiz_2A', project_id=project.id, element_type=index) }}" style="float: right;">
          <button type="button" class="btn">Next</button>
        </a>
      </li>  
    </ul>
  </nav>

  <br>

  {% if element_type == 1 %}
    <h2 style="text-align: center;">Learning Outcomes</h2>
  {% elif element_type == 2 %}
    <h2 style="text-align: center;">Content</h2>
  {% elif element_type == 3 %}
    <h2 style="text-align: center;">Learning Activities</h2>
  {% elif element_type == 4 %}
    <h2 style="text-align: center;">Assessments</h2>
  {% endif %}

  <!-- <br> -->

  <div id="los-div" class="form-div" style="display: block;">
    {% if elements.count() == 0 %}
      <div id="element-div" class="rounded p-3 text-white element-box">
        <h4>No elements of this type</h4>
      </div>
    {% else %}
      {% for element in elements %}
        <div id="element-div" class="rounded p-3 text-white element-box">
          <h5 style="display: inline;">{{ element.name }}</h5>
          <!-- {% if element.desc %}
            <p class="text-muted desc-text" style="display: inline;">- {{ element.desc }}</p>
          {% endif %} -->
          <a href="{{ url_for('delete_element', element_id=element.id) }}">
            <img src="/static/bin.png" class="click-icon" alt="Delete Button">
          </a>
          <a href="{{ url_for('update_element', project_id=project.id, element_id=element.id, previous_page=2) }}">
            <img src="/static/edit.png" class="click-icon" alt="Edit Button">
          </a>
        </div>
      {% endfor %}
    {% endif %}

    <a href="{{ url_for('new_element', project_id=project.id, element_type=element_type) }}" class="new-element">
      <button class="btn new-element">New Element</button>
    </a>
  </div>

    <!-- <footer>
      <div style="float: right; margin: 5%;">
        <a href="https://www.flaticon.com/free-icons/delete" title="delete icons">Delete icons created by Freepik - Flaticon</a>
        <br>
        <a href="https://www.flaticon.com/free-icons/edit" title="edit icons">Edit icons created by Pixel perfect - Flaticon</a>
      </div>
    </footer> -->
{% endblock wizard %}