{% extends "base.html" %}
{% block content %}
  <h1 class="mb-3">Projects by {{ user.name }} ({{ projects.total }})</h1>
  {% for project in projects.items %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + project.creator.image_file) }}" alt="">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{{ url_for('user_projects', name=project.creator.name) }}">{{ project.creator.name }}</a>
          <small class="text-muted">{{ project.date_created.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('project', project_id=project.id) }}">{{ project.name }}</a></h2>
        <p class="article-content">{{ project.desc }}</p>
      </div>
    </article>
  {% endfor %}
  {% for page_num in projects.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
    {% if page_num %}
      {% if projects.page == page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('user_projects', name=user.name, page=page_num) }}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('user_projects', name=user.name, page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
{% endblock content %}