{% extends "base.html" %}
{% block content %}
<h1>Home</h1>

<div class="media content-section container py-4">
  <div class="row">
    <div class="body home-text">
      <p>Welcome to EdVee.  Whether you are an experienced educator, curriculum developer, or new to curriculum design, 
        EdVee has been created to make the process of designing modules and courses seamless and effective.</p>

      <p>EdVee is offered here as an open-source application with a unique interface.  One of the standout features is 
        the ability to generate models which visualise the underlying pedagogical structure of a course.  This feature 
        allows designers to 'see' the pedagogical alignment between learning outcomes, assessment, content and learning 
        activities.  </p>

      <p>The EdVee digital interface enables the designer to quickly review and edit a design to fully deliver on 
        intended learning outcomes.  </p>

      <p>Digital EdVee designs can be duplicated to allow iteration, collaboration and evaluation of multiple ideas
        and then shared online for review.</p>

      <p>Please watch this explanation of the value of EdVee:</p>
      <div class="video-container">
        <iframe 
          src="https://www.youtube.com/embed/ejN50FPJhyA?si=D7auAlYGgd1YmkeM"
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
        <a href="https://dantrowsdale.co.uk/edvee-design-tool-course-prototype-and-diagnostic-tool/">
          https://dantrowsdale.co.uk/edvee-design-tool-course-prototype-and-diagnostic-tool/
        </a>
      </div>

      <br>

      <!-- <p>Start designing your educational future with EdVee now! On the menu select Login to create a new user 
        account for free! <a href="{{ url_for('login') }}">Login</a></p> -->
      <p>Start designing your educational future with EdVee now! On the menu select <a href="{{ url_for('register') }}">Register</a> to create a new user 
        account for free!</p>

      <!-- <p>To see an example of EdVee and a tutorial on how to use EdVee please see 'Tutorial' on the menu. 
        <a href="{{ url_for('tutorial') }}">Tutorial</a></p> -->

      {% if not current_user.is_authenticated %}
        <a href="{{ url_for('register') }}">
          <button class="btn">Create Account</button>
        </a>
      {% else %}
        <a href="{{ url_for('project_new') }}">
          <button class="btn">Create New Course</button>
        </a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}