{% extends "base.html" %}
{% block content %}
<header>
  <h1>Find Users</h1>
  <h1>Project {{ project.id }}</h1>
</header>

<form method="POST" action="">
  {{ form.hidden_tag() }}
  <div style="margin: 5%;" class="form-group">
    {% if form.name.errors %}
      {{ form.name(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.name.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.name(class="form-control form-control-lg") }}
    {% endif %}
    <br>
    <input class="btn" type="submit" value="Search" style="float: right;">
  </div>
</form>

<div class="search-container">
  {% if users[0] %}
    {% for user in users %}
    <div class="search-result">
      <a href="{{ url_for('account', id=user.id) }}">
        <div id="user-div" class="rounded user-box">
          <img class="rounded-circle account-img-2" src="/static/profile_pics/{{ user.image_file }}">
          <h2 style="display: inline;">{{ user.name }}</h2>
          <button id="allow-view" value="{{ user.id }}|{{ project.id }}" class="btn btn-search">Allow view</button>
          <button id="allow-edit" value="{{ user.id }}|{{ project.id }}" class="btn btn-search">Allow edit</button>
        </div>
      </a>
      <!-- <div class="rounded accesses-box">
        <button id="allow-view" value="{{ user.id }}|{{ project.id }}" class="btn" style="margin: 1%;">Allow view</button>
        <button id="allow-edit" value="{{ user.id }}|{{ project.id }}" class="btn" style="margin: 1%;">Allow edit</button>
      </div> -->
    </div>
    {% endfor %}
  {% else %}
    <h1>No users found</h1>
  {% endif %}
</div>

<br>
<br>

{% if usersWithAccess[0] %}
  <h1>Users With Access</h1>
  <div class="search-container">
    {% for user in usersWithAccess %}
    <div class="search-result">
      <div id="user-div" class="rounded user-box">
        <a href="{{ url_for('account', id=user.id) }}">
          <div style="width: 30%; display: inline;">
            <img class="rounded-circle account-img-2" src="/static/profile_pics/{{ user.image_file }}">
            <h2 style="display: inline;">{{ user.name }}</h2>
          </div>
        </a>
        {% for access in accesses %}
          {% if access.user_id == user.id and access.project_id == project.id %}
            {% if access.access_level == 1 %}
              <h4 style="display: inline;"> - View access</h4>
              <button id="allow-edit" value="{{ user.id }}|{{ project.id }}" class="btn btn-search">Allow edit</button>
            {% elif access.access_level == 2 %}
              <h4 style="display: inline;"> - Edit access</h4>
              <button id="allow-view" value="{{ user.id }}|{{ project.id }}" class="btn btn-search">Allow view only</button>
            {% endif %}
            <a href="{{ url_for('removeAccess', access_id=access.id) }}">
              <button class="btn btn-search btn-delete">X</button>
            </a>
          {% endif %}
        {% endfor %}
      </div>
      <!-- <div class="rounded accesses-box">
        <button id="allow-view" value="{{ user.id }}|{{ project.id }}" class="btn" style="margin: 1%;">Allow view</button>
        <button id="allow-edit" value="{{ user.id }}|{{ project.id }}" class="btn" style="margin: 1%;">Allow edit</button>
      </div> -->
    </div>
    {% endfor %}
  </div>
  <br>
{% endif %}
{% endblock content %}